@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins:wght@100;200;300;500&display=swap');

 .navbar {
        text-align: center;
        margin-top: 32px; 
     
    }

    .navbar a {
        color: #526b63;
       
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        margin-left: 25px;
        margin-right: 25px ;
        padding-bottom: 7px; 

    }

    .navbar a:hover {
        border-bottom: 1px solid whitesmoke;
        transition: all 0.5s ease;
        font-size: 18px; 
    }
    .site-name, site-sub-name{
        margin-left: 8px;
        margin-top: -20px;
        font-size: 19px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1.5px;
    }
    .site-name{
        color:#405138 ;
    }
    .site-sub-name{
        color: #405138;
        padding-left: 5px;
    }
    .container {
    background-image: url(../images/blogbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    color:white ;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}



.head {
    
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.blog-intro{
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 60px;
    
}
.bintro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.bcaption{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 22px;
}

.country {
    text-align: center;
}

.cards {
    height: 230px;
    width: 400px;
    /* background-color: aqua; */
    padding: 15px;
    /* margin: 10px; */
    /* display: inline-block; */
    /* border-radius: 5px; */

}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: rgb(159, 43, 172);
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    border: none;
    color: white;
}
.heading{
    margin-top: 50px;
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.places h2 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.cards-India {
    height: 600px;
    width: 420px;
    background-color: rgba(245, 195, 254, 0.39);
    /* background-color: rgba(254, 195, 205, 0.39); */
    display: inline-block;
    margin: 20px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

.cards-India h1 {
    color: rgb(128, 55, 0);
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;

}

.cards p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.image img {
    background-image: url(Taj\ Mahal.jpg);
    background-size: 100% 100%;
    height: 230px;
    width: 400px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Subscribe {
    height: 250px;
    width: 88vw;
   
    padding: 20px;
    margin: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Subscribe-heading {
    color: #444;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    /* position: relative;
    top: -40px;
    left: 211px; */
    font-size: 50px;
    
}
.combo{
    /* margin-top: 20px; */
}

.email {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    width: 300px;
    border: none;
    color: black;
    /* position: relative;
    right: 160px; */
    /* margin-top: 50px; */

}

/* .btn {
    display: inline-block;
    position: relative;
    right: 160px;
    margin-top: 50px; */
/* } */

.btn:hover {
    background-color: red;
}

.heading {
    color: green;
}



@media screen and (min-width: 300px) and (max-width: 600px) {


    .container {
        height: 300px;
    }

    .heading {
        margin-top: 20px;
    }

    .Subscribe {
        
        /* height: 100%;
        width: 100%; */
        /* background-color: rgba(226, 159, 238, 0.758);
        padding: 20px; */
        /* margin: 0 60px; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .container h1 {
        font-size: 30px;

    }

    .container p {
        font-size: 15px;
        font-weight: bold;
    }

    .head {
        padding: 10px;
        border-radius: 5px;
        width: 200px;
    }

    .cards-India {
        height: 425px;
        width: 342px;
    }

    .cards {
        width: 300px;
    }

    .cards p {
        font-size: 16px;
    }

    .image img {
        height: 175px;
        width: 300px;
    }

    .cards-India h1 {
        font-size: 27px;
    }

    .Subscribe {
        /* margin: auto; */
        /* width: 305px; */
        margin-left: 0;
        margin-right: 0;
    }

    /* .Subscribe-heading {
        position: none;
    } */
    .places h2{
        font-size: 22.5px;
    }

    .Subscribe-heading {
        /* position: relative;
        top: 40px; */
        /* left: 211px; */
        /* font-size: 30px; */
        text-align: center;
    }

   .combo .email{
    width: 200px;
   }

   .combo .btn{
    width:100px;
   }



}

@media screen and (min-width: 600px) and (max-width: 768px) {

    .container {
        height: 420px;
    }

    .head {
        padding: 12px;
        border-radius: 5px;
        width: 230px;
    }

    .container h1 {
        font-size: 40px;

    }

    .container p {
        font-size: 17px;
        font-weight: bold;
    }

    .places h2{
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 910px) {
    .container {
        height: 502px;
    }

    .container h1 {
        font-size: 50px;

    }

    .container p {
        font-size: 18.12px;
        font-weight: bold;
    }

    .head {
        padding: 15px;
        border-radius: 5px;
        width: 250px;
    }

    .places h2{
        font-size: 27.5px;
    }
}

@media screen and (min-width: 910px) and (max-width: 1200px) {
    .container {
        height: 502px;
    }
}


.footer-section{
    height: 400px;
    width: 100%;
    display: flex;
    background-color: #ccc;
    margin-top: 150px;
   
   }
   .section{
    margin-left: 100px;
    margin-top: 25px;

     
   }
   .section h1{
     font-size: 35px;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
     color: #333;
   }

   .foot-caption{
     font-size: 35px;
   }
   .footer-logo{
     margin-top: 25px;
   }
   .i1{
     height: 15%;
     width: 30%;
     margin: 10px;
     margin-left: 150px;
   }
   .useful-link{
     margin-left: 300px;
     margin-top : 100px;
     font-size: 15px;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
   }
   .Follow-link{
     margin-left: 250px;
     margin-top : 100px;
     font-size: 15px;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
   }
   .flink{
     font-size: 25px;
     font-family: 'Raleway', sans-serif;
     
     color: #333;
   }

