body{
    font-family: 'Robot', sans-serif;
}
.signup-box{
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}
.container{
  width: 360px;
  height: 380px;
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  margin-top: 250px;
}

.login-box{
  margin: 20px;
  text-align: center;
}

.account{
  justify-content: center;
  display: flex;
  margin-left: 42px;
}

.or{
  margin-left: 30px;
}

h1{
  text-align: center;
  padding-top: 15px;
}
h4{
  text-align: center;
}
form{
  width: 300px;
  margin-left: 20px;
}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input{
  width: 100%;
  padding:7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  padding: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}

p{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2{
  text-align: center;
  font-size: 15px;
  margin-top: -10px;
}

.para-2 a{
  color: #49c1a2;
}

.icon-img{
  height: 60%;
  width: 40%;

}
.icon{
  display: flex;
  justify-content: center;

}

